<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="dp2SIPServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <dp2SIPServer.Properties.Settings>
      <setting name="Port" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="LibraryServerUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="EncodingName" serializeAs="String">
        <value>UTF-8</value>
      </setting>
      <setting name="Terminator" serializeAs="String">
        <value>CR</value>
      </setting>
      <setting name="DateFormat" serializeAs="String">
        <value>yyyy-MM-dd</value>
      </setting>
    </dp2SIPServer.Properties.Settings>
  </userSettings>

  <log4net>
    <appender name="Logging" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value=".\operlog\" />
      <param name="AppendToFile" value="true" />
      <Encoding value="UTF-8" />
      <param name="MaxSizeRollBackups" value="50" />
      <param name="StaticLogFileName" value="false" />
      <param name= "DatePattern" value= "yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date" />
      <!-- param name="maximumFileSize" value="5MB" / -->
      <!-- param name="CountDirection" value="1"/ -->
      <!--filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="ERROR" />
      </filter -->
      <layout type="log4net.Layout.PatternLayout">
        <!-- param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.fff} %5p [%C{1}:%L] - %m%n" / -->
        <param name="ConversionPattern" value="%d{HH:mm:ss.fff} %5p [%C{1}:%L] - %m%n" />
      </layout>
    </appender>
    <root>
      <!--过滤设置，LevelRangeFilter为使用的过滤器。OFF > FATAL > ERROR > WARN > INFO > DEBUG  > ALL  -->
      <level value="ERROR" />
      <appender-ref ref="Logging" />
    </root>
  </log4net>
</configuration>
