<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dp2SIPClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <dp2SIPClient.Properties.Settings>
            <setting name="SIPServerUrl" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="SIPServerPort" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="dp2ServerUrl" serializeAs="String">
                <value>http://localhost/dp2library/demo/</value>
            </setting>
        </dp2SIPClient.Properties.Settings>
    </userSettings>
</configuration>